body{
    background: rgb(58,138,234) ;
    background: linear-gradient(180deg, rgba(58,138,234,1) 22%, rgba(255,0,0,1) 100%);
    background-attachment: fixed;
    background-size: cover;
}

#text-align {
    text-align: center;
    font-family: cursive;
}


#morty {
    height: 60px ; 
    width: 60px ;
    margin-left: 48%;
}
